<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>详细内容</title>
    <link rel="stylesheet" href="__PUBLIC__/css/global.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zone.css">
</head>
<body>
<div class="con-wrap white container wrapper">
    <div class="breadcrumb">
        {$detail.title}
    </div>

    <div class="breadcrumb">
        时间：{$detail.time|date="Y-m-d H:i:s",###} 　阅读数：{$detail.click}
    </div>

    <div class="breadcrumb"><p>{$detail.content}</p></div>

    <div class="editor-wrap">
        <div class="btn-wrap" style="padding-top: 10px;padding-bottom: 10px;">
            <input type="button" class="cancel" value="返回"
                   onclick="location='{:url('index')}'">
        </div>
    </div>

</div>
</body>
</html>