<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改</title>
    <link rel="stylesheet" href="__PUBLIC__/css/global.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zone.css">
</head>
<body>
<div class="con-wrap white container wrapper">
    <form action="{:url('update')}" method="post">
        <div class="editor-wrap">
            <input name="title" class="title" type="text" placeholder="标题" value="{$detail.title}">
            <textarea name="content" class="editor" placeholder="内容" style="padding: 10px;">{$detail.content}</textarea>
            <input type="hidden" name="id" value="{$detail.id}">
            <div class="btn-wrap">
                <input type="submit" class="confirm" value="修改">
                <input type="button" class="cancel" value="取消"
                       onclick="location='{:url('index')}'">
            </div>
        </div>
    </form>

</div>
</body>
</html>